.heading{
  text-align: center;
}
.btn > Button{
  margin-top: 100px;
  width: 250px;
  height: 85px;
}
.btn{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;

}
.card{
  gap: 30px;
  width:max-content;
  border: 1px solid black;
 margin-top: 10px;
 display: flex;

}
.root{
  display: flex;
  flex-wrap: wrap;
  max-height: fit-content;
  width: 50%;
}
.Root{
  display: flex;
  flex-wrap: wrap;
}
.editdelete{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin-right: 50px;
}

